body{
    margin:20px 10% 20px 10%;
    background-color: rgb(46, 75, 75);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.team-members{
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-members-li{
    list-style: none;
    margin: 20px;
    text-align: center;
}

.abstract{
    text-align: justify;
}

a{
    color: gold;
    text-decoration: none;
    font-weight: 100;
}

.center-text{
    text-align: center;
}
.img-grid{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 50px;
}
.grid-item{
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.img-grid-item{
    width: 200px;
    height: 200px; 
    box-shadow: 3px 5px 10px 0px;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}